/* General page layout */

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-image: url("https://eestec.net/static/enet/img/bg.jpg?cd8844f90cb0");
  margin: 0px;
}

#maincontainer {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.header {
  padding: 10px 30px;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.flex-direction {
  flex-direction: row;
}

.left {
  flex: 1;
  padding: 10px 30px 30px;
  background-color: white;
}

.right {
  flex: 1;
  padding: 10px 30px 30px;
  background-color: white;
  margin-left: 10px;
}

#iframeresult {
  overflow: hidden;
  margin-left: -5px;
  width: 495px;
  border: none;
}

#iframeresultwrapper {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  /* stack form and result on small screens*/

  .flex-direction {
    flex-direction: column;
  }

  .left {
    flex: none;
    width: calc(100% - 60px);
  }

  .right {
    width: calc(100% - 60px);
    flex: none;
    margin-top: 10px;
    margin-left: 0px;
    border-left: none;
    background-color: white;
  }
}

.instructions {
  padding: 10px 30px;
  margin-top: 10px;
  background-color: white;
}

.footer {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: white;
}

/* Form table */

input {
  width: 100%;
  resize: vertical;

  box-sizing: border-box;
}

.checkbox {
  margin-left: 0;
  width: auto;
}

select {
  box-sizing: border-box;
  height: 22px;
}

.col {
  float: left;
  margin-top: 10px;
  box-sizing: border-box;
}

.col-label {
  width: 120px;
  padding-right: 10px;
}

.col-input {
  width: calc(100% - 120px);
}

.col-heading {
  width: 100%;
  font-weight: bold;
}

.col-x {
  width: 30px;
}

.col-checkbox {
  width: 30px;
}

.col-input-x {
  width: calc(100% - 120px - 30px);
}

.col-label-checkbox {
  width: calc(120px - 30px);
}

.xbutton {
  height: 20px;
  width: 20px;
  margin: 1px 0 0 10px;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  background-color: darkgrey;
}

#addbutton {
  margin: 0;
  background-color: darkgrey;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grey {
  color: darkgrey;
}

/* Buttons animation*/

button {
  color: #ffffff;
  font-weight: bold;
  background-color: #e52a30;
  border: 0;
  box-shadow: none;
  text-shadow: 0;
  border-radius: 30px;
  height: 30px;
  width: 150px;
  margin: 20px 10px 0 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
}

button:hover,
#addbutton:hover,
#resetbutton:hover {
  background-color: #c10710;
}

#resetbutton {
  background-color: darkgrey;
}

.buttonsuccess,
.buttonsucces:hover {
  background-color: green !important;
}

/* Other */

h2 {
  color: #e52a30;
  text-align: center;
}

#htmlresult {
  width: 100%;
  height: 140px;
  color: grey;
}
